# 当前使用的 provider: zhipu / minimax / opencode_go
provider: zhipu

zhipu:
  api_key: ""
  base_url: "https://open.bigmodel.cn"
  cold_start_model: "glm-4-air"
  cold_start_prompt: "hi"

minimax:
  api_key: ""
  base_url: ""
  cold_start_model: ""
  cold_start_prompt: "hi"

opencode_go:
  api_key: ""
  base_url: ""
  cold_start_model: ""
  cold_start_prompt: "hi"

schedule:
  cold_start_times:
    - "06:00"
    - "11:00"
    - "16:00"
    - "21:00"
  quota_check_interval_minutes: 5

feishu:
  notify_chat_id: ""
  enable_bot: true
  notify_threshold: 0
